body {
    background:#333;
    color: #fff;
}


.navbar   {
  font-size: 14px;
  text-transform: uppercase;
  padding-left: 1rem !important;
  padding-right: 1rem !important;
  background: black
}
.navbar .nav-item.active {
  border-bottom: #6b1d1d 3px solid;
}

strong {
    font-weight: bold;
     
}

/*---------------------------------------
  HERO              
-----------------------------------------*/
.hero-section {
  background-image: url('../img/123.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  position:relative;
  padding-top: 100px;
  padding-bottom: 100px;
}



.hero-section .custom-border-btn {
  border-color:rgb(255, 255, 255)rgb(48, 49, 49);
  color: rgb(14, 12, 12)
}



.hero-form {
  background-color:rgb(255, 227, 227);
  border-radius: var(--border-radius-small);
  padding: 40px;
  margin: 10;
}

.hero-form .form-control {
  padding-bottom: 10px;
}

.hero-form button[type="submit"] {
  background-color:(30,212,212,0.562);
  padding-top: 10px;
  padding-bottom: 8px;
}

.hero-form .input-group-text i {
  position: relative;
  top: 2px;
}

.hero-section .badge {
  background: transparent;
  color:(30,212,212,0.562);
}

.hero-section .badge:hover {
  background:black;
  color: var(--secondary-color);
}

.badge {
  background: var(--section-bg-color);
  border: 1px solid rgb(30,212,212,0.562);
  border-radius: var(--border-radius-medium);
  color: var(--secondary-color);
  font-weight: var(--font-weight-normal);
  line-height: normal;
  margin-right: 5px;
  margin-left: 5px;
  padding: 8px 12px;
  padding-bottom: 6px;
}

.badge-level {
  background: var(--secondary-color);
  color: var(--white-color);
}

.badge:hover {
  background: var(--custom-btn-bg-color);
  color: var(--white-color);
}

/*---------------------------------------
  RESPONSIVE STYLES              
-----------------------------------------*/
@media screen and (min-width: 1025px) {
  .job-featured-section .job-thumb {
    max-width: 1120px;
    margin-right: auto;
    margin-left: auto;
  }
}

@media screen and (min-width: 991px) {
  .google-map {
    height: 100%;
  }
}

@media screen and (max-width: 991px) {
  h1 {
    font-size: 48px;
  }

  h2 {
    font-size: 36px;
  }

  h3 {
    font-size: 32px;
  }

  h4 {
    font-size: 28px;
  }

  h5 {
    font-size: 20px;
  }

  h6 {
    font-size: 18px;
  }

  .section-padding,
  .cta-section {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .about-page .about-section {
    padding-top: 50px;
  }

  .custom-btn {
    padding: 12px 20px;
  }

  .navbar-collapse {
    padding-bottom: 20px;
  }

  .navbar-expand-lg .navbar-nav .nav-link {
    padding: 10px;
  }

  .navbar-expand-lg .navbar-nav .nav-link.custom-btn {
    margin-top: 10px;
  }

  .page-link {
    font-size: 12px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin-right: 5px;
    margin-left: 5px;
  }

  .custom-text-block {
    padding: 50px 30px;
  }

  .hero-section {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .badge {
    margin-top: 5px;
  }

  .counter-number,
  .counter-number-text {
    font-size: var(--h2-font-size);
  }

  .custom-border-radius-start {
    border-radius: var(--border-radius-medium) var(--border-radius-medium) 0 0;
  }

  .custom-border-radius-end {
    border-radius: 0 0 var(--border-radius-medium) var(--border-radius-medium);
  }

  .job-body p {
    font-size: var(--btn-font-size);
  }

  .job-location {
    min-width: 140px;
  }

  .job-price {
    min-width: inherit;
    margin-top: 5px;
    margin-left: 0;
  }

  .hero-form button[type="submit-1"] {
    margin-bottom: 0;
  }

  .site-footer {
    padding-top: 50px;
  }

  .site-footer-bottom {
    margin-top: 50px;
  }
}

@media screen and (max-width: 480px) {
  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 28px;
  }

  h3 {
    font-size: 26px;
  }/*---------------------------------------
  HERO              
-----------------------------------------*/


  h4 {
    font-size: 22px;
  }

  h5 {
    font-size: 20px;
  }

  .badge {
    margin: 10px 10px 5px 0;
  }

  .page-link {
    width: 35px;
    height: 35px;
    line-height: 35px;
  }

  .counter-thumb {
    margin: 10px;
  }

  .counter-number,
  .counter-number-text {
    font-size: var(--h3-font-size);
  }

  .job-date {
    margin-top: 5px;
  }

  .job-detail-share {
    margin: 20px auto 0 auto;
  }
}

  h4 {
    font-size: 22px;
  }

  h5 {
    font-size: 20px;
  }

  .badge {
    margin: 10px 10px 5px 0;
  }

  .page-link {
    width: 35px;
    height: 35px;
    line-height: 35px;
  }

  .counter-thumb {
    margin: 10px;
  }

  .counter-number,
  .counter-number-text {
    font-size: var(--h3-font-size);
  }

  .job-date {
    margin-top: 5px;
  }

  .job-detail-share {
    margin: 20px auto 0 auto;
  }


.bigger-emoji {
    font-size: 6em; 
  }

#home-section .home-inner {
    padding-top: 340px;
    padding-left: 100px;
}

#homesection .card-form {
    opacity: 0.8;
}


.img-b:hover {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}


@media (min-width: 768px) {
  .card-box-a:hover .img-a,
  .card-box-a:hover .img-b,
  .card-box-b:hover .img-a,
  .card-box-b:hover .img-b {
    transform: scale(1.2);
  }
}

section {
  padding: 60px 0;
  overflow: hidden;
}

.section-title {
  padding-bottom: 40px;
}

.section-title h2 {
  font-size: 14px;
  font-weight: 500;
  padding: 0;
  line-height: 1px;
  margin: 0 0 5px 0;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #aaaaaa;
  font-family: "Poppins", sans-serif;
}

.section-title h2::after {
  content: "";
  width: 120px;
  height: 1px;
  display: inline-block;
  background: #ffde9e;
  margin: 4px 10px;
}

.section-title p {
  margin: 0;
  margin: 0;
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  color: #151515;
}

.colored-box {
  background-color: rgba(30, 212, 212, 0.562);
}

.intro-single {
  padding: 4rem 0 3rem;
}
@media (max-width: 76px) {
  .intro-single {
    padding-top: 2rem;
  }
}
.intro-single .title-single-box {
  padding: 1rem 0 1rem 2rem;
}
.intro-single .title-single-box {
  border-left: 3px solid #129ac4;
}
.intro-single .title-single-box .title-single {
  font-weight: 600;
  font-size: 2.2rem;
}
@media (min-width: 768px) {
  .intro-single .title-single-box .title-single {
    font-size: 2.1rem;
  }
}


/*----- Footer----*/


.section-footer .widget-a .w-title-a {
  margin-bottom: 1rem;
}

footer {
  background: black;
  text-align: center;
  padding: 30px 0;
}

footer .copyright-footer {
  border-top: 1px solid rgba(30, 212, 212, 0.562);
  padding-top: 20px;
}

.footer {
  background-color:rgba(30, 212, 212, 0.562);
  padding: 20px;
}

.social-icons {
  text-align: center;
}

.social-icons a {
  display: inline-block;
  margin: 0 10px;
  color: #ffffff;
  font-size: 20px;
}

.social-icons {
  color: #f4f9fd;
}

.link {
  color: #f4f4f4;;
}

 
.link-2 {
  color:rgba(30, 212, 212, 0.562);
}

.icon-box{
  font-size: 30px;
}

/*** Team ***/
.team-item {
  box-shadow: 0 0 45px rgba(0, 0, 0, .08);
}

.team-item img {
  transition: .5s;
}

.team-item:hover img {
  transform: scale(1.1);
}

.team-item .btn {
  background: #FFFFFF;
  border-radius: 20px;
  
}

.team-item .btn:hover {
  
  color: #FFFFFF;
}


/*contact us*/

.colored-box-5 {
  background-color: rgba(30, 212, 212, 0.562); 
  padding: 20px;
  color: #000000; 
  font-size:20px;
}

/*how sections*/

/*how secton*/
.how_section .how_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 45px 60px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.how_section .how_container .box {
  text-align: center;
  margin: 10px;
  min-width: 200px;
  width: 325px;
}

.how_section .how_container .box .img-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 200px;
  background-color: #f6f5f7;
}

.how_section .how_container .box .img-box svg {
  width: 75px;
  height: auto;
}

.how_section .how_container .box .detail-box {
  margin-top: 15px;
}

.how_section .how_container .box .detail-box h5 {
  font-weight: bold;
  position: relative;
}

.how_section .how_container .box .detail-box h5::before {
  display: none;
  content: "";
  position: absolute;
  bottom: -4px;
  left: 50%;
  width: 75px;
  height: 2px;
  background-color: rgba(30, 212, 212, 0.562);
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.how_section .how_container .box .detail-box p {
  color: #b8b8b8;
}

.how_section .how_container .box:hover .img-box {
  background-color: rgba(30, 212, 212, 0.562);
}

.how_section .how_container .box:hover .img-box svg {
  fill: #ffffff;
}

.how_section .how_container .box:hover .detail-box {
  margin-top: 15px;
}

.how_section .how_container .box:hover .detail-box h5::before {
  display: block;
}

.how_section .how_container .box:hover .detail-box p {
  color: #393a3c;
}

.how_section .btn-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.how_section .btn-box a {
  display: inline-block;
  padding: 10px 45px;
  background-color: #171717;
  border: 1px solid #171717;
  color: #ffffff;
  border-radius: 5px;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.how_section .btn-box a:hover {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  -webkit-box-shadow: 0px 3px 4px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0px 3px 4px 0 rgba(0, 0, 0, 0.2);
}

.info_section {
  background-color: #171717;
  color: #ffffff;
  padding: 90px 0 45px 0;
}

.info_section h5 {
  margin-bottom: 35px;
  font-size: 22px;
}

.info_section .info_contact .info_logo a {
  position: relative;
}

.info_section .info_contact .info_logo a span {
  color: #ffffff;
  font-size: 26px;
  font-weight: bold;
  position: relative;
  z-index: 3;
}

.info_section .info_contact .info_logo a::before {
  content: "";
  position: absolute;
  left: -15px;
  bottom: 0;
  width: 60px;
  height: 55px;
  background-color: #30ae69;
  z-index: 2;
}


.info_section .info_form form button {
  display: inline-block;
  padding: 8px 35px;
  background-color: #30ae69;
  border: 1px solid #30ae69;
  color: #ffffff;
  border-radius: 0;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  margin-top: 15px;
  text-transform: uppercase;
  font-size: 15px;
}

.info_section .info_form form button:hover {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  -webkit-box-shadow: 0px 3px 4px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0px 3px 4px 0 rgba(0, 0, 0, 0.2);
}

/*app section*/

section.app_section {
  padding: 65px 0;
  background:url('../img/741.jpg')
}

section.app_section .img-box {
  transform: none;
  margin-top: 35px;
}

section.app_section .detail-box {
  text-align: center;
}

/*end of app section*/

#page-header {
  height: 200px;
  background:url('../img/123.jpg');
  background-position: 0 -360px;
  background-attachment: fixed;
  color: #fff;
  border-bottom: 1px #eee solid;
  padding-top: 50px;
}
.about-img{
  margin-top: -50px;
}

.about_section .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about_section .img-box img {
  width: 90%;
}

.about_section .detail-box p {
  margin-top: 25px;
}

/* about section */
.about_section h2 {
  text-transform: uppercase;
  text-align: center;
}

.about_section h4 {
  font-size: 22px;
  font-weight: 600;
}

.about_card-container {
  display: flex;
  justify-content: center;
}

.about_card .about-detail {
  padding: 2px 25px 35px 25px;
}

.about_img-container {
  width: 225px;
  background-color: #1ba1b9;
  height: 225px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 25px solid #d7daf4;
  margin: 0 auto 45px auto;
}

.about_card .about_img-box {
  width: 75px;
}

.about_card .about-detail p {
  margin-top: 15px;
}

.about_card img {
  width: 100%;
}
.about_img-box img {
  width: 100%;
}

/* end about section */
/* who section */
.who_section {
  background-color: rgba(30, 212, 212, 0.562);
}

.who_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
}

.who_section {
  color: #fff;
}

.who_section .who_img-box {
  background-color: #fff;
  border-radius: 100%;
  transform: scale(1.01) translateX(-10%);
  overflow: hidden;
  width: 55%;
}

.who_img-box img {
  width: 100%;
}

.who_section .who_deail-box {
  text-align: right;
  width: 40%;
}

.who_section .who_deail-box p {
  margin: 45px 0 50px 0;
}

.who_section .who_deail-box a {
  display: inline-block;
  background-color: black;
  color: #fff;
  font-size: 15px;
  border-radius: 10px;
  padding: 12px 32px;
}

.who_container {
  display: flex;
}

/* end who section */

.dropdown .dropdown-menu {
  border-top: 0;
  border-left: 4px solid #53DBFD;
  border-right: 0;
  border-bottom: 0;
  -webkit-transform: translate3d(0px, -40px, 0px);
  transform: translate3d(0px, -40px, 0px);
  opacity: 0;
  filter: alpha(opacity=0);
  visibility: hidden;
  transition: all 0.5s cubic-bezier(0.3, 0.65, 0.355, 1) 0s, opacity 0.31s ease 0s, height 0s linear 0.36s;
  margin: 0;
  border-radius: 0;
  padding: 12px 0;
}
.dropdown .dropdown-menu .dropdown-item {
  padding: 12px 18px;
  transition: all 500ms ease;
  font-weight: 600;
  min-width: 220px;
}
.dropdown .dropdown-menu .dropdown-item:hover {
  background-color: #FFFFFF;
  color: #53C6FC;
  transition: all 500ms ease;
}
  .dropdown:hover .dropdown-menu {
    -webkit-transform: translate3d(0px, 0px, 0px);
    transform: translate3d(0px, 0px, 0px);
    visibility: visible;
    opacity: 1;
    filter: alpha(opacity=1);
  }

  /*----------------INSPIRATION

-------------------------------------------------------*/
.inspiration
{
 background:url("../img/123.jpg");
 background-position:  center;
 background-attachment: fixed;
 background-size:cover;
}
.inspiration >.overlay.container
{
    padding:80px 0px;
}

.subheading h4 {
	color: #ffffff;
	font-style: italic;
	font-family: 'Roboto Slab', serif;
}
.intermediate-container .heading h2 {
	font-size: 40px;
	line-height: 47px;
	text-transform: uppercase;
	margin-top: 30px;
	color: #ffffff;
	margin-bottom: 20px;
	font-weight: 700;
}


.heading {
  text-align: center;
  color: #454343;
  font-size: 30px;
  font-weight: 700;
  position: relative;
  margin-bottom: 70px;
  text-transform: uppercase;
  z-index: 999;
}
.white-heading{
  color: #ffffff;
}
.heading:after {
  content: ' ';
  position: absolute;
  top: 100%;
  left: 50%;
  height: 40px;
  width: 180px;
  border-radius: 4px;
  transform: translateX(-50%);
  background: url(img/heading-line.png);
  background-repeat: no-repeat;
  background-position: center;
}
.white-heading:after {
  background: url(https://i.ibb.co/d7tSD1R/heading-line-white.png);
  background-repeat: no-repeat;
  background-position: center;
}

.heading span {
  font-size: 18px;
  display: block;
  font-weight: 500;
}
.white-heading span {
  color: #ffffff;
}
/*-----Testimonial-------*/

.testimonial:after {
  position: absolute;
  top: -0 !important;
  left: 0;
  content: " ";
  background: url(img/testimonial.bg-top.png);
  background-size: 100% 100px;
  width: 100%;
  height: 100px;
  float: left;
  z-index: 99;
}

.testimonial {
  min-height: 375px;
  position: relative;
  background: url('../img/imaa.jpg');
  padding-top: 50px;
  padding-bottom: 50px;
  background-position: center;
      background-size: cover;
}
#testimonial4 .carousel-inner:hover{
cursor: -moz-grab;
cursor: -webkit-grab;
}
#testimonial4 .carousel-inner:active{
cursor: -moz-grabbing;
cursor: -webkit-grabbing;
}
#testimonial4 .carousel-inner .item{
overflow: hidden;
}

.testimonial4_indicators .carousel-indicators{
left: 0;
margin: 0;
width: 100%;
font-size: 0;
height: 20px;
bottom: 15px;
padding: 0 5px;
cursor: e-resize;
overflow-x: auto;
overflow-y: hidden;
position: absolute;
text-align: center;
white-space: nowrap;
}
.testimonial4_indicators .carousel-indicators li{
padding: 0;
width: 14px;
height: 14px;
border: none;
text-indent: 0;
margin: 2px 3px;
cursor: pointer;
display: inline-block;
background: #ffffff;
-webkit-border-radius: 100%;
border-radius: 100%;
}
.testimonial4_indicators .carousel-indicators .active{
padding: 0;
width: 14px;
height: 14px;
border: none;
margin: 2px 3px;
background-color: #9dd3af;
-webkit-border-radius: 100%;
border-radius: 100%;
}
.testimonial4_indicators .carousel-indicators::-webkit-scrollbar{
height: 3px;
}
.testimonial4_indicators .carousel-indicators::-webkit-scrollbar-thumb{
background: #eeeeee;
-webkit-border-radius: 0;
border-radius: 0;
}

.testimonial4_control_button .carousel-control{
top: 175px;
opacity: 1;
width: 40px;
bottom: auto;
height: 40px;
font-size: 10px;
cursor: pointer;
font-weight: 700;
overflow: hidden;
line-height: 38px;
text-shadow: none;
text-align: center;
position: absolute;
background: transparent;
border: 2px solid #ffffff;
text-transform: uppercase;
-webkit-border-radius: 100%;
border-radius: 100%;
-webkit-box-shadow: none;
box-shadow: none;
-webkit-transition: all 0.6s cubic-bezier(0.3,1,0,1);
transition: all 0.6s cubic-bezier(0.3,1,0,1);
}
.testimonial4_control_button .carousel-control.left{
left: 7%;
top: 50%;
right: auto;
}
.testimonial4_control_button .carousel-control.right{
right: 7%;
top: 50%;
left: auto;
}
.testimonial4_control_button .carousel-control.left:hover,
.testimonial4_control_button .carousel-control.right:hover{
color: #000;
background: #fff;
border: 2px solid #fff;
}

.testimonial4_header{
top: 0;
left: 0;
bottom: 0;
width: 550px;
display: block;
margin: 30px auto;
text-align: center;
position: relative;
}
.testimonial4_header h4{
color: #ffffff;
font-size: 30px;
font-weight: 600;
position: relative;
letter-spacing: 1px;
text-transform: uppercase;
}

.testimonial4_slide{
top: 0;
left: 0;
right: 0;
bottom: 0;
width: 70%;
margin: auto;
padding: 20px;
position: relative;
text-align: center;
}
.testimonial4_slide img {
  top: 0;
  left: 0;
  right: 0;
  width: 136px;
  height: 136px;
  margin: auto;
  display: block;
  color: #f2f2f2;
  font-size: 18px;
  line-height: 46px;
  text-align: center;
  position: relative;
  border-radius: 50%;
  box-shadow: -6px 6px 6px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: -6px 6px 6px rgba(0, 0, 0, 0.23);
  -o-box-shadow: -6px 6px 6px rgba(0, 0, 0, 0.23);
  -webkit-box-shadow: -6px 6px 6px rgba(0, 0, 0, 0.23);
}
.testimonial4_slide p {
  color: #ffffff;
  font-size: 20px;
  line-height: 1.4;
  margin: 40px 0 20px 0;
}
.testimonial4_slide h4 {
color: #ffffff;
font-size: 22px;
}

.testimonial .carousel {
padding-bottom:50px;
}
.testimonial .carousel-control-next-icon, .testimonial .carousel-control-prev-icon {
  width: 35px;
  height: 35px;
}
/* ------testimonial  close-------*/

#page-header-ui-ux {
  height: 200px;
  background:url('../img/imaa.jpg');
  background-position: 0 -360px;
  background-attachment: fixed;
  color: #fff;
  border-bottom: 1px #eee solid;
  padding-top: 50px;
}

.inspiration-ui
{
 background:url("../img/imaa.jpg");
 background-position:  center;
 background-attachment: fixed;
 background-size:cover;
}
.inspiration >.overlay.container
{
    padding:80px 0px;
}

/*card*/
.card-box-d .card-overlay-hover {
  transition: all 0.2s ease-in-out;
  padding: 15px 40px 15px 35px;
}
@media (min-width: 768px) {
  .card-box-d .card-overlay-hover {
    padding: 5px 15px 5px 10px;
  }
}
@media (min-width: 992px) {
  .card-box-d .card-overlay-hover {
    padding: 5px 40px 5px 35px;
  }
}
.card-box-d .title-d {
  transition: 0.3s ease-in-out;
  font-size: 2rem;
  font-weight: 600;
  margin: 1rem 0;
  transform: translateY(-20px);
  opacity: 0;
}
@media (min-width: 768px) {
  .card-box-d .title-d {
    font-size: 1.1rem;
    margin: 0.5rem 0;
  }
}
@media (min-width: 992px) {
  .card-box-d .title-d {
    font-size: 1.5rem;
    margin: 1rem 0;
  }
}
@media (min-width: 1200px) {
  .card-box-d .title-d {
    font-size: 2rem;
    margin: 1rem 0;
  }
}
.card-box-d .content-d {
  opacity: 0;
  transition: 0.5s ease-in-out;
  transform: translateY(-40px);
}
@media (min-width: 768px) {
  .card-box-d .content-d {
    font-size: 0.8rem;
    margin: 0.5rem 0;
  }
}
@media (min-width: 768px) {
  .card-box-d .card-body-d p {
    margin-bottom: 8px;
    font-size: 0.8rem;
  }
}
@media (min-width: 992px) {
  .card-box-d .card-body-d p {
    margin-bottom: 12px;
    font-size: 1rem;
  }
}
.card-box-d .info-agents {
  opacity: 0;
  transition: 0.5s ease-in-out;
}
.card-box-d:hover .card-overlay-hover {
  background-color: #5A9CC2;
  opacity: 0.9;
}
.card-box-d:hover .title-d,
.card-box-d:hover .content-d,
.card-box-d:hover .info-agents,
.card-box-d:hover .card-footer-d {
  opacity: 1;
  transform: translateY(0);
}
.agent-info-box .socials-footer {
  margin-top: 2rem;
}
.agent-info-box .socials-footer li {
  margin-right: 1.5rem;
}